<nz-layout>
  <nz-sider *ngIf="routeHasNavigation && oAuthManagerService.isLogged" [ngClass]="{collapsed: isCollapsed}"
    nzBreakpoint="md" (nzCollapsedChange)="isCollapsed = $event">
    <nz-layout class="sider-container">
      <nz-content>
        <a routerLink="/home" class="logo">
          <img src="/assets/logos/text.png" alt="Webook Logo">
        </a>
        <ul class="sidenav-menu" nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed"
          [nzMode]="isCollapsed ? 'vertical' : 'inline'">
          <li (keyup.enter)="router.navigateByUrl('/home')" nz-menu-item routerLink="/home" [nzMatchRouter]="true" nz-tooltip
            [nzTooltipTitle]="isCollapsed ? 'Feed' : ''" nzTooltipPlacement="right">
            <i fa="newspaper"></i>
            <span *ngIf="!isCollapsed">Feed</span>
          </li>
          <li (keyup.enter)="router.navigateByUrl('/my-documents')" nz-menu-item routerLink="/my-documents" [nzMatchRouter]="true" nz-tooltip
            [nzTooltipTitle]="isCollapsed ? 'Documentos' : ''" nzTooltipPlacement="right">
            <i fa="book"></i>
            <span *ngIf="!isCollapsed">Documentos</span>
          </li>
          <li (keyup.enter)="router.navigateByUrl('/search')" nz-menu-item routerLink="/search" [nzMatchRouter]="true" nz-tooltip
            [nzTooltipTitle]="isCollapsed ? 'Explorar' : ''" nzTooltipPlacement="right">
            <i fa="search"></i>
            <span *ngIf="!isCollapsed">Explorar</span>
          </li>
        </ul>
      </nz-content>
    </nz-layout>
  </nz-sider>
  <nz-layout>
    <nz-content id="content-area">
      <nz-page-header *ngIf="routeHasNavigation">
        <nz-page-header-extra>
          <ng-container *ngIf="navigationService.hasSearch | async">
            <nz-input-group class="navigation-search-input" [nzSuffix]="searchInputSuffix">
              <ng-template #searchInputSuffix>
                <i fa="search"></i>
                <button *ngIf="(navigationService.search | async)" class="no-button-style"
                  (click)="navigationService.emitSearch(undefined)">
                  <i fa="times"></i>
                </button>
              </ng-template>
              <input #searchInput type="text" nz-input placeholder="Pesquise aqui..."
                [ngModel]="navigationService.search | async" (ngModelChange)="navigationService.emitSearch($event)" />
            </nz-input-group>
          </ng-container>
          <ng-container *ngTemplateOutlet="navigationService.navigationActionsTemplate | async"></ng-container>
          <ng-container *ngIf="oAuthManagerService.isLogged">
            <button nz-button nzType="link" (click)="notificationClicked()">
              <nz-badge [nzDot]="hasNotification">
                <i fa="bell"></i>
              </nz-badge>
            </button>
            <button class="avatar-btn" nz-popover [nzPopoverTitle]="avatarMenuHeaderTemplate"
              [nzPopoverContent]="avatarMenuContentTemplate" nzPopoverPlacement="bottomRight">
              <nz-avatar nzSize="large" [nzText]="userService.getUserInitials()"></nz-avatar>
            </button>
            <ng-template #avatarMenuHeaderTemplate>
              <h4 nz-typography>Olá, {{userService?.user?.userName}}</h4>
            </ng-template>
            <ng-template #avatarMenuContentTemplate>
              <ul nz-menu class="avatar-popover-menu">
                <li nz-menu-item routerLink="/user/profile" [nzMatchRouter]="true">Meu Perfil</li>
                <li nz-menu-item routerLink="/user/preferences" [nzMatchRouter]="true">Preferências</li>
                <div nz-menu-divider></div>
                <li nz-menu-item (click)="logout()">Sair</li>
              </ul>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="!oAuthManagerService.isLogged">
            <nz-button-group>
              <button nz-button nzType="primary" (click)="login()">Cadastrar / Logar</button>
            </nz-button-group>
          </ng-container>
        </nz-page-header-extra>
      </nz-page-header>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>