wb-navigation-container {
  nz-sider {
    @mixin sider-background {
      background: rgb(202,202,202);
      background: linear-gradient(90deg, rgba(202,202,202,1) 0, rgba(202,202,202,0.4) 100%);
    }
    nz-layout.sider-container {
      height: inherit;
      nz-content {
        display: flex;
        flex-direction: column;
        flex: auto;
        .logo {
          cursor: pointer;
          @include sider-background();
          img {
            width: 80%;
            max-width: 80%;
            padding: 12px 16px 8px;
            margin: 0 10% 8px;
            filter: drop-shadow(1px 2px 1px #808080);
          }
        }
        ul.sidenav-menu {
          height: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          @include sider-background();
          border-right: none;
          .ant-menu-submenu > .ant-menu {
            @include sider-background();
          }

          li[nz-menu-item],
          div[nz-submenu-title] {
            $submenu-icon-gap: 12px;
            font-size: 125%;
            span {
              padding-left: $submenu-icon-gap;
            }
          }

          li[nz-menu-item] {
            outline: none;
            &:hover:not(.ant-menu-selected),
            &:focus:not(.ant-menu-selected)
            {
              color: darken( #1890ff, 15%);
              &::after{
                transform: scaleY(1);
                opacity: 1;
                transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
              }
            }
            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }

    &.collapsed {
      nz-layout.sider-container {
        $sider-collapsed-width: 80px;
        min-width: $sider-collapsed-width !important;
        width: $sider-collapsed-width !important;
        max-width: $sider-collapsed-width !important;
        .logo {
          text-align: center;
          img {
            width: 90%;
            max-width: 90%;
            padding: 8px 4px;
            margin: 0 5% 8px;
          }
        }
      }
    }
  }
  nz-content {
    nz-page-header {
      nz-page-header-title.unauthenticated-logo-container {
        display: flex;
        max-width: 150px;
        > .unauthenticated-logo {
          width: 100%;
          > img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
      nz-page-header-extra {
        nz-input-group.navigation-search-input {
          width: auto;
          i[fa="search"] + button > i[fa="times"] {
            margin-left: 6px;
          }
        }
        .avatar-btn {
          background: none;
          border: none;
          outline: none;
          nz-avatar.ant-avatar {
            margin: 0;
          }
        }
      }
    }
  }
}
.avatar-popover-menu {
  border: none;
  text-align: end;
}

.notification-list {
  border: none;
}

@media(max-width: 500px) {
  wb-navigation-container {
    nz-sider {
      $sider-collapsed-mobile-width: 60px;
      flex: 0 0 $sider-collapsed-mobile-width !important;
      min-width: $sider-collapsed-mobile-width !important;
      width: $sider-collapsed-mobile-width !important;
      max-width: $sider-collapsed-mobile-width !important;
      &.collapsed {
        nz-layout.sider-container {
          min-width: $sider-collapsed-mobile-width !important;
          width: $sider-collapsed-mobile-width !important;
          max-width: $sider-collapsed-mobile-width !important;
          ul.sidenav-menu {
            max-width: 100%;
            li.ant-menu-item {
              padding: 0 33.33%;
            }
          }
        }
      }
    }
  }
  nz-content {
    nz-page-header {
      nz-page-header-extra {
        &.ant-page-header-heading-extra > * {
          margin-left: 0;
        }
        nz-input-group.navigation-search-input {
          max-width: 30vw;
        }
      }
    }
  }
}
