<button *ngIf="!pageSelectionExpanded" [disabled]="pageIndex <= 1" nz-button nzType="link"
  (click)="goToPreviousPage()"><i fa="chevron-left"></i></button>
<div class="current-page" (click)="togglePageSelectionExpanded(undefined, $event)">
  <span class="page-number">{{pageIndex}}</span>
  <i *ngIf="!pageSelectionExpanded" (click)="togglePageSelectionExpanded(true, $event)" fa="angle-down"
    class="page-selection-expand"></i>
  <i *ngIf="pageSelectionExpanded" (click)="togglePageSelectionExpanded(false, $event)" fa="angle-up"
    class="page-selection-expand"></i>
</div>
<button *ngIf="!pageSelectionExpanded" [disabled]="pageIndex == totalCount" nz-button nzType="link"
  (click)="goToNextPage()"><i fa="chevron-right"></i></button>