<book-cover *ngIf="currentState === 'cover' || (duringTransition && lastState === 'cover')"></book-cover>
<ng-container *ngIf="currentState === 'page' || (duringTransition && lastState === 'page')">
<div *ngFor="let pageBoth of pageBothSides" class="pages-both-sides-container">
  <book-page [backgroundColor]="pageBoth.left?.color">{{pageBoth?.left?.message}}</book-page>
  <book-page [backgroundColor]="pageBoth.right?.color">{{pageBoth.right?.message}}</book-page>
</div>
</ng-container>
<book-back *ngIf="currentState === 'back' || (duringTransition && lastState === 'back')"></book-back>

<ng-keyboard-shortcuts style="display: none" [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
