wb-text-properties {
  flex-direction: column;
  p {
    margin-top: 12px;
    margin-bottom: 0;
  }
  nz-input-number.ant-input-number,
  nz-select.ant-select,
  .color-picker-input {
    width: 100%;
  }
  .color-picker-input {
    cursor: pointer;
  }
}

.text-position-container {
  display: flex;
  flex-wrap: wrap;
  > .text-position {
    $spacing: 6px;
    background: unset;
    outline: none;
    border: unset;
    height: 5vh;
    margin: $spacing;
    width: calc(33.3333% - #{$spacing * 2});
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s;

    &:hover {
      background-color: #e4e4e4;
    }
    &:hover.active,
    &.active {
      background-color: #cecece;
    }
  }
}
