<div nz-row nzJustify="space-between" nzAlign="middle">
  <video id="background-video" #video muted loop
         src="https://media.giphy.com/media/9JgjpeyN48rdtzIvOZ/source.mp4"></video>
  <p id="background-video-attribute"><a
    href="https://giphy.com/gifs/jumanjiwelcometothejungle-2017-jumanji-9JgjpeyN48rdtzIvOZ" target="_blank" rel="noopener">via GIPHY</a></p>
  <div id="not-found-content" class="p-12" nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="4">
    <app-logo></app-logo>
    <div id="not-found-message">
      <h1>404</h1>
      <h3>Page Not Found</h3>
      <p>Unfortunately the page you were looking for could not be found. It may be temporarily unavailable, moved or no longer exist.</p>
      <a routerLink="/" nz-button nzType="primary">Let's Start Over</a>
    </div>
  </div>
</div>
