<h4 nz-typography>Fundo</h4>
<div class="color-picker-container">
    <input class="color-picker-input" [colorPicker]="backgroundColor" (colorPickerChange)="setBackground('color', $event)" [style.background]="backgroundColor"
    cpPosition="bottom" [value]="backgroundColor" readonly />
</div>
<p>Selecione um estilo de fundo abaixo</p>
<div class="patterns-container">
    <div *ngFor="let pattern of backgroundPatterns" class="item" (click)="setBackground('pattern', pattern.id)"
    [style.background-color]="backgroundColor ? backgroundColor : 'unset'"
    [style.background-image]="'url(\''+ pattern.src +'\')'">
    </div>
</div>