<ng-container *ngIf="user">
  <nz-row class="profile-header" [nzGutter]="16">
    <nz-col class="avatar-container" nzFlex="auto">
      <nz-avatar [nzSize]="96" [nzText]="userService.getUserInitials(user.firstName, user.lastName)"></nz-avatar>
    </nz-col>
    <nz-col nzXs="24" nzSm="24" nzMd="16">
      <nz-row>
        <h1 class="profile-user-name" nz-typography>{{user.userName}}</h1>
      </nz-row>
      <nz-row>
        <h4 class="profile-user-location" nz-typography>Brasil</h4>
      </nz-row>
      <nz-row class="profile-user-stats">
        <nz-col nzXs="12" nzSm="12" nzMd="10" nzLg="8">
          <nz-skeleton [nzLoading]="userDocumentsNumber === -1" nzType="input" [nzActive]="true" [nzParagraph]="false">
            <nz-statistic [nzValue]="userDocumentsNumber"
              [nzSuffix]="userDocumentsNumber === 1 ? 'Documento' : 'Documentos'">
            </nz-statistic>
          </nz-skeleton>
        </nz-col>
        <nz-col nzXs="12" nzSm="12" nzMd="10" nzLg="8">
          <nz-skeleton [nzLoading]="userFollowersNumber === -1" [nzActive]="true" [nzParagraph]="false">
            <nz-statistic [nzValue]="userFollowersNumber"
              [nzSuffix]="userFollowersNumber === 1 ? 'Seguidor' : 'Seguidores'">
            </nz-statistic>
          </nz-skeleton>
        </nz-col>
      </nz-row>
    </nz-col>
    <nz-col *ngIf="!isMyUser && !isFollowingUserLoading" nzXs="0" nzSm="0" nzMd="0" nzLg="4">
      <button *ngIf="!isFollowingUser" nz-button nzType="primary"  (click)="follow()">
        Seguir
      </button>
      <button *ngIf="isFollowingUser" nz-button nzType="danger" (click)="unfollow()">
        Parar de Seguir
      </button>
    </nz-col>
  </nz-row>
  <section nz-row class="profile-documents-container" [nzGutter]="16">
    <div nz-col nzSpan="24">
      <h2 nz-typography>Documentos</h2>
    </div>
    <nz-spin nz-col nzSpan="24" nzSize="large" [nzSpinning]="isLoadingUserDocuments">
      <div class="profile-documents" nz-row [nzGutter]="16">
        <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" *ngFor="let document of userDocuments">
          <wb-document-card [document]="document" (openEvent)="openDocument($event)"
            (deleteEvent)="deleteDocument($event)"></wb-document-card>
        </div>
        <nz-empty *ngIf="!isLoadingUserDocuments && !userDocuments.length" [nzNotFoundContent]="myDocumentsEmptyContent"
          [nzNotFoundFooter]="myDocumentsEmptyFooter">
          <ng-template #myDocumentsEmptyContent>
            <span *ngIf="!isMyUser">Este usuário não possui documentos</span>
            <span *ngIf="isMyUser">Você não possui documentos</span>
          </ng-template>
          <ng-template #myDocumentsEmptyFooter>
            <ng-container *ngIf="isMyUser">
              <button nz-button nzType="primary" (click)="createDocument()">Crie Agora</button>
            </ng-container>
          </ng-template>
        </nz-empty>
      </div>
      <nz-pagination [hidden]="userDocumentsTotalCount <= userDocumentsPageSize" class="profile-documents-paginator"
        nzSimple [(nzPageIndex)]="userDocumentsPageIndex" (nzPageIndexChange)="getProfileDocuments()"
        [(nzPageSize)]="userDocumentsPageSize" [nzTotal]="userDocumentsTotalCount || 0">
      </nz-pagination>
    </nz-spin>
  </section>
</ng-container>