wb-user-profile {
  overflow-y: auto;
  .profile-header {
    padding: 0 16px;
    .avatar-wrapper {
      display: flex;
      align-items: center;
      place-content: center;
      .avatar-container {
        position: relative;
        button.profile-image-edit-button {
          $edit-profile-image-button-size: 50px;
          position: absolute;
          height: $edit-profile-image-button-size;
          width: $edit-profile-image-button-size;
          left: calc(50% - #{$edit-profile-image-button-size / 2});
          top: calc(50% - #{$edit-profile-image-button-size / 2});
          cursor: pointer;
          background: none;
          border: none;
          outline: none;
          z-index: 2;
          opacity: 0;
          font-size: 200%;
          text-shadow: 4px 4px 4px #808080;
          transition: opacity .25s;
        }
        &:hover {
          button.profile-image-edit-button {
            opacity: 1;
          }
        }
      }
    }
    .profile-user-name {
      margin-bottom: 0;
      width: 100%;
    }
    .profile-user-location {
      width: 100%;
      margin-bottom: 0;
    }
    .profile-user-stats {
      place-content: space-evenly;
    }
  }
  .profile-documents-container {
    padding: 16px 16px 0;
    .profile-documents {
      wb-document-card {
        display: flex;
        flex-direction: column;
        padding: 0 8px 8px;
      }
      nz-empty {
        width: 100%;
      }
    }
    .profile-documents-paginator {
      margin-top: 16px;
      margin-bottom: 16px;
      text-align: center;
    }
  }
}

@media(max-width: 500px) {
  wb-user-profile {
    .profile-header {
      text-align: center;
      .ant-statistic-content-suffix {
        margin-left: 16px;
      }
    }
  }
}