wb-user-profile {
  .profile-header {
    padding: 0 16px;
    .avatar-container {
      display: flex;
      align-items: center;
      place-content: center;
    }
    .profile-user-name {
      margin-bottom: 0;
    }
    .profile-user-stats {
      place-content: space-evenly;
    }
  }
  .profile-documents-container {
    padding: 16px 16px 0;
    .profile-documents {
      nz-empty {
        width: 100%;
      }
    }
    .profile-documents-paginator {
      margin-top: 16px;
      margin-bottom: 16px;
      text-align: center;
    }
  }
}
