<div class="content-wrapper">
  <ng-container *ngIf="visualizeMode">
    <wb-editor #editor [visualizeMode]="visualizeMode">
      <ng-container #editorContainer></ng-container>
    </wb-editor>
  </ng-container>
  <ng-container *ngIf="!visualizeMode">
    <wb-editor-toolbox [items]="toolboxItems"></wb-editor-toolbox>
    <wb-editor #editor (drop)="editorDropElement($event)" (dragover)="editorDragOver($event)"
      [visualizeMode]="visualizeMode">
      <ng-container #editorContainer></ng-container>
    </wb-editor>
    <wb-editor-properties-container></wb-editor-properties-container>
  </ng-container>
</div>
<ng-keyboard-shortcuts [shortcuts]="editorShortcuts"></ng-keyboard-shortcuts>