.content-wrapper {
  display: flex;
  flex: auto;
  wb-editor-toolbox {
    display: flex;
    flex: initial;
    flex-direction: column;
  }
  wb-editor {
    display: flex;
    flex: auto;
    flex-direction: column;
    border: 1px dotted #ccc;
  }
  wb-editor-properties-container {
    display: flex;
    flex: initial;
  }
}
