wb-editor-container {
  overflow: auto;
  .content-wrapper {
    display: flex;
    flex: auto;
    overflow: auto;
    wb-editor-toolbox {
      display: flex;
      flex: initial;
      flex-direction: column;
    }
    div.editor-container {
      display: flex;
      flex: auto;
      flex-direction: column;
      border: 1px dotted #ccc;
      overflow: auto;
      wb-editor {
        display: flex;
        flex: auto;
        flex-direction: column;
      }
    }
    wb-editor-properties-container {
      display: flex;
      flex: initial;
      max-width: 25vw;
      overflow: auto;
      background-color: #fff;
      z-index: 10;
    }
  }
}

.popover-action {
  .ant-popover-arrow {
    display: none;
  }
  ul.editor-element-actions-list {
    $button-icon-margin: 8px;
    $actions-spacing: 4px;
    list-style: none;
    padding: 0;
    margin: 0;
    li + li {
      margin-top: $actions-spacing;
    }
    li {
      button {
        > i + span,
        > span + i {
          margin-left: $button-icon-margin;
        }
      }
      > button {
        width: 100%;
      }
      > nz-spin {
        min-height: 32px;
        button:only-child {
          width: 100%;
        }
      }
    }
  }
}
