$page-border-color: #000;
$page-border: 2px solid $page-border-color;
$page-background-color: #fff;
$page-border-radius: 5%;
$background-page-spacing: 5%;

@keyframes expand-button-animation {
  0% {
    top: 100%;
  }
  50% {
    top: 110%;
  }
  100% {
    top: 100%;
  }
}

:host {
  display: flex;
  align-items: center;
  .current-page {
    display: flex;
    align-items: center;
    place-content: center;
    position: relative;
    width: 5vw;
    height: 5vh;
    cursor: pointer;
    border: $page-border;
    border-radius: $page-border-radius;
    background-color: $page-background-color;
    user-select: none;
    .page-number {
      color: #000;
      font-weight: bold;
      font-size: 150%;
    }
    .page-selection-expand {
      position: absolute;
      top: 100%;
    }
    &:before {
      content: "";
      width: 5vw;
      height: 5vh;
      border: $page-border;
      border-radius: $page-border-radius;
      position: absolute;
      bottom: $background-page-spacing;
      left: $background-page-spacing;
      z-index: -1;
    }

    &:hover {
      .page-selection-expand {
        animation-name: expand-button-animation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
    }
  }
}
