<button *ngIf="!pageSelectionExpanded" [disabled]="pageIndex <= 1" nz-button nzType="link"
  (click)="goToPreviousPage()" nz-tooltip [nzTooltipTitle]="pageIndex <= 1 ? '' : 'Página Anterior'" nzTooltipPlacement="bottomRight"><i fa="chevron-left"></i></button>
<div class="current-page" (click)="togglePageSelectionExpanded(undefined, $event)">
  <span class="page-number">{{pageIndex}}</span>
  <i *ngIf="!pageSelectionExpanded" (click)="togglePageSelectionExpanded(true, $event)" fa="angle-down"
    class="page-selection-expand" nz-tooltip nzTooltipTitle="Gerenciar Páginas" nzTooltipPlacement="bottom" [nzMouseEnterDelay]="1"></i>
  <i *ngIf="pageSelectionExpanded" (click)="togglePageSelectionExpanded(false, $event)" fa="angle-up"
    class="page-selection-expand"></i>
</div>
<button *ngIf="!pageSelectionExpanded && pageIndex !== totalCount" nz-button nzType="link"
  (click)="goToNextPage()" nz-tooltip nzTooltipTitle="Próxima Página" nzTooltipPlacement="bottomLeft"><i fa="chevron-right"></i></button>
<button *ngIf="!visualizeMode && !pageSelectionExpanded && pageIndex === totalCount" nz-button nzType="link"
  (click)="emitToAddPage()" nz-tooltip nzTooltipTitle="Adicionar Página" nzTooltipPlacement="bottomLeft"><i fa="plus"></i></button>