<div nz-row nzJustify="space-between" nzAlign="middle">
  <div id="sign-in-content" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="8">
    <app-logo></app-logo>
    <h2 nz-title>Log In to your Account</h2>
    <app-authentication-social-media (authSocialMediaSelected)="onAuthSocialMediaSelected($event)"></app-authentication-social-media>
    <nz-divider nzText="or use your email"></nz-divider>
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-control nzErrorTip="Username field is required!">
          <nz-input-group [nzPrefix]="userPrefixTemplate">
            <input nz-input id="sign-in-username" formControlName="userName" placeholder="Username *"/>
          </nz-input-group>
          <ng-template #userPrefixTemplate>
            <i fa="user"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Password field is required!">
          <nz-input-group [nzPrefix]="passwordPrefixTemplate" [nzSuffix]="passwordSuffixTemplate">
            <input nz-input id="sign-in-password" formControlName="password" [type]="passwordVisible ? 'text' : 'password'"
                   placeholder="Password *"/>
          </nz-input-group>
          <ng-template #passwordPrefixTemplate>
            <i fa="lock"></i>
          </ng-template>
          <ng-template #passwordSuffixTemplate>
            <i [fa]="passwordVisible ? 'eye-slash' : 'eye'" class="clickable" (click)="passwordVisible = !passwordVisible" nz-tooltip [nzTooltipTitle]="(passwordVisible ? 'Hide' : 'Show') + ' password'"></i>
          </ng-template>
        </nz-form-control>
        <div class="forgot-password-container">
          <button nz-button nzType="link" (click)="forgotPassword()">Forgot password?</button>
        </div>
      </nz-form-item>
      <div id="sign-in-footer">
        <button type="submit" nz-button id="sign-in-form-button" nzType="primary" [disabled]="form.pristine || form.invalid" (click)="submitForm()">
          Log in
        </button>
        <span>or <button id="sign-in-create-account-redirect" nz-button nzType="link" (click)="redirectToCreateAccount()">Create an Account</button></span>
      </div>
    </form>
  </div>
  <div id="sign-in-background-container" nz-col nzXs="0" nzSm="0" nzMd="12" nzLg="14" nzXl="16">
    <div id="sign-in-background"></div>
  </div>
</div>
