<div nz-row nzJustify="space-between" nzAlign="middle">
  <div id="sign-in-content" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="8">
    <app-logo></app-logo>
    <h2 nz-title>Entre na sua Conta</h2>
    <app-authentication-social-media (authSocialMediaSelected)="onAuthSocialMediaSelected($event)">
    </app-authentication-social-media>
    <nz-divider nzText="ou use seu email"></nz-divider>
    <form nz-form [formGroup]="form" (submit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Nome de Usuário deve ser preenchido!">
          <nz-input-group [nzPrefix]="userPrefixTemplate">
            <input nz-input id="sign-in-username" formControlName="userName" placeholder="Nome de Usuário *" />
          </nz-input-group>
          <ng-template #userPrefixTemplate>
            <i fa="user"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row>
        <nz-form-control nzErrorTip="Senha deve ser preenchida" nz-col>
          <nz-input-group [nzPrefix]="passwordPrefixTemplate" [nzSuffix]="passwordSuffixTemplate">
            <input nz-input id="sign-in-password" formControlName="password"
              [type]="passwordVisible ? 'text' : 'password'" placeholder="Senha *" />
          </nz-input-group>
          <ng-template #passwordPrefixTemplate>
            <i fa="lock"></i>
          </ng-template>
          <ng-template #passwordSuffixTemplate>
            <i [fa]="passwordVisible ? 'eye-slash' : 'eye'" class="clickable"
              (click)="passwordVisible = !passwordVisible" nz-tooltip
              [nzTooltipTitle]="(passwordVisible ? 'Esconder' : 'Mostrar') + ' senha'"></i>
          </ng-template>
        </nz-form-control>
        <nz-form-item *ngIf="loginFailed" nz-col nzSpan="24" class="ant-typography-rtl">
          <span nz-typography nzType="danger">Nome de usuário ou senha incorretos</span>
        </nz-form-item>
        <nz-form-item *ngIf="userInactive" nz-col nzSpan="24" class="ant-typography-rtl">
          <span nz-typography nzType="danger">Usuário está desativado</span>
        </nz-form-item>
        <nz-form-item *ngIf="userBlocked" nz-col nzSpan="24" class="ant-typography-rtl">
          <span nz-typography nzType="danger">O usuário está bloqueado, tente novamente mais tarde</span>
        </nz-form-item>
        <nz-form-item *ngIf="errorDuringLogin" nz-col nzSpan="24" class="ant-typography-rtl">
          <span nz-typography nzType="danger">Ocorreu um erro. Tente mais tarde</span>
        </nz-form-item>
        <div nz-col nzSpan="24" class="forgot-password-container">
          <button type="button" nz-button nzType="link" (click)="forgotPassword()">Esqueceu a senha?</button>
        </div>
      </nz-form-item>
      <div id="sign-in-footer">
        <button type="submit" nz-button id="sign-in-form-button" nzType="primary"
          [disabled]="form.pristine || form.invalid">
          Logar
        </button>
        <span>ou <button id="sign-in-create-account-redirect" nz-button nzType="link"
            (click)="redirectToCreateAccount()">Criar Conta</button></span>
      </div>
    </form>
  </div>
  <div id="sign-in-background-container" nz-col nzXs="0" nzSm="0" nzMd="12" nzLg="14" nzXl="16">
    <div id="sign-in-background"></div>
  </div>
</div>