<ng-container *ngIf="hasFinishedDataEntry">
  <img *ngIf="!isLoading && currentPixabayHit"
    class="image"
    [title]="currentPixabayHit.user"
    [alt]="currentPixabayHit.user"
    [src]="currentPixabayHit.previewURL"
  />
  <nz-spin *ngIf="isLoading" class="image-loader" nzSimple nzSize="large"></nz-spin>
  <nz-empty *ngIf="!isLoading && !visualizeMode && !currentPixabayHit" nzNotFoundContent="Selecione uma imagem"></nz-empty>
  <ng-container *ngIf="elementRef">
    <ngx-moveable
        *ngIf="!visualizeMode"
        #moveable
        [target]="target"
        [className]="moveableClasses"
        [snappable]="true"
        [elementGuidelines]="elementGuidelines"

        [origin]="dragOptions.hasOrigin"
        [draggable]="(forceMoveableEnable || (isOnlySelected && hasSelectionEnded)) && dragOptions.draggable"
        [dragTarget]="dragOptions.dragTarget"
        (dragStart)="onDragStart($event)"
        (drag)="onDrag($event)"
        (dragEnd)="onDragEnd($event)"

        [rotatable]="(forceMoveableEnable || (isOnlySelected && hasSelectionEnded)) && rotateOptions.rotatable"
        [rotationPosition]="rotateOptions.rotatePosition"
        (rotateStart)="onRotateStart($event)"
        (rotate)="onRotate($event)"
        (rotateEnd)="onRotateEnd($event)"

        [resizable]="(forceMoveableEnable || (isOnlySelected && hasSelectionEnded)) && resizeOptions.resizable"
        [keepRatio]="resizeOptions.keepRatio"
        (resizeStart)="onResizeStart($event)"
        (resize)="onResize($event)"
        (resizeEnd)="onResizeEnd($event)"
        >
    </ngx-moveable>
  </ng-container>
</ng-container>
