wb-root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  wb-navigation-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    nz-content#content-area {
      display: flex;
      flex-direction: column;
      router-outlet + * {
        display: flex;
        flex-direction: column;
        flex: auto;
      }
    }
  }
}
