<ng-container *ngIf="oauthManagerService.isLogged">
  <section nz-row class="feed-documents-container" [nzGutter]="16">
    <div nz-col nzSpan="24">
      <h2 nz-typography>Feed</h2>
    </div>
    <nz-spin nz-col nzSpan="24" nzSize="large" [nzSpinning]="isLoadingFeed">
      <div class="feed-documents" nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" *ngFor="let document of documents">
          <wb-document-card [document]="document" (openEvent)="openDocument($event)"
            (deleteEvent)="deleteDocument($event)">
          </wb-document-card>
        </div>
      </div>
      <nz-pagination [hidden]="documentsTotalCount <= documentsPageSize" class="profile-documents-paginator" nzSimple
        [(nzPageIndex)]="documentsPageIndex" (nzPageIndexChange)="getFeed()" [(nzPageSize)]="documentsPageSize"
        [nzTotal]="documentsTotalCount || 0">
      </nz-pagination>
    </nz-spin>
  </section>
</ng-container>