<div nz-row nzJustify="space-between" nzAlign="middle">
  <div id="sign-up-background-container" nz-col nzXs="0" nzSm="0" nzMd="12" nzLg="14" nzXl="16">
    <div id="sign-up-background"></div>
  </div>
  <div id="sign-up-content" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="8">
    <app-logo></app-logo>
    <h2 nz-title>Criar Conta</h2>
    <app-authentication-social-media (authSocialMediaSelected)="onAuthSocialMediaSelected($event)">
    </app-authentication-social-media>
    <nz-divider nzText="or"></nz-divider>
    <form nz-form [formGroup]="form" (submit)="submitForm()">
      <nz-form-item nzGutter="16">
        <nz-form-control nzErrorTip="O campo Nome é obrigatório!" nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
          <ng-template #firstNamePrefixTemplate>
            <i fa="user"></i>
          </ng-template>
          <nz-input-group [nzPrefix]="firstNamePrefixTemplate">
            <input nz-input id="sign-up-first-name" formControlName="firstName" placeholder="Nome *" />
          </nz-input-group>
        </nz-form-control>
        <nz-form-control nzErrorTip="O campo Sobrenome é obrigatório!" nzXs="24" nzSm="24" nzMd="24" nzLg="12" nzXl="12">
          <nz-input-group>
            <input nz-input id="sign-up-last-name" formControlName="lastName" placeholder="Sobrenome *" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="O campo Email é obrigatório e deve estar no formato de email!">
          <ng-template #emailPrefixTemplate>
            <i fa="envelope"></i>
          </ng-template>
          <nz-input-group [nzPrefix]="emailPrefixTemplate">
            <input nz-input id="sign-up-email" formControlName="email" type="email" placeholder="Email *" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="O campo de Login é obrigatório e deve ter pelo menos 4 caracteres!">
          <ng-template #loginPrefixTemplate><i fa="sign-in-alt"></i></ng-template>
          <nz-input-group [nzPrefix]="loginPrefixTemplate">
            <input nz-input id="sign-up-login" formControlName="login" placeholder="Login *" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="O campo de Senha é obrigatório e deve ter pelo menos 4 caracteres!">
          <nz-input-group [nzPrefix]="passwordPrefixTemplate" [nzSuffix]="passwordSuffixTemplate">
            <input nz-input id="sign-up-password" formControlName="password"
              [type]="passwordVisible ? 'text' : 'password'" placeholder="Senha *" />
          </nz-input-group>
          <ng-template #passwordPrefixTemplate>
            <i fa="lock"></i>
          </ng-template>
          <ng-template #passwordSuffixTemplate>
            <i [fa]="passwordVisible ? 'eye-slash' : 'eye'" class="clickable" nz-tooltip
              [nzTooltipTitle]="(passwordVisible ? 'Esconder' : 'Mostrar') + ' password'"
              (click)="passwordVisible = !passwordVisible"></i>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="userAlreadyExists" class="ant-typography-rtl">
        <span nz-typography nzType="danger">O usuário já existe</span>
      </nz-form-item>
      <nz-form-item *ngIf="registerFailed" class="ant-typography-rtl">
        <span nz-typography nzType="danger">Ocorreu um erro. Tente mais tarde</span>
      </nz-form-item>
      <div id="sign-up-footer">
        <button nz-button type="submit" id="sign-up-form-button" nzType="primary"
          [disabled]="!form.dirty || form.invalid">Criar Conta</button>
        <span>ou <button id="sign-up-sign-in-redirect" nz-button nzType="link" (click)="redirectToSignIn()">Cadastrar-se</button></span>
      </div>
    </form>
  </div>
</div>
