<ng-container *ngIf="document">
  <nz-skeleton *ngIf="!userInfo" class="user-info-container" [nzAvatar]="true" [nzParagraph]="{ rows: 0 }"></nz-skeleton>
  <div *ngIf="userInfo" nz-row class="user-info-container">
    <nz-avatar nzSize="large" [nzText]="userInfo.image ? undefined : userService.getUserInitials()" [nzSrc]="userInfo.image"></nz-avatar>
    <a class="username" nz-button nzType="link" (click)="redirectToUserPofile()">{{ userInfo.name }}</a>
  </div>
  <nz-card [nzCover]="documentCoverTemplate" class="document-creation-model">
    <!-- TODO: Description fix -->
    <nz-card-meta [nzTitle]="documentTitleTemplate" [nzDescription]="document.description"></nz-card-meta>
  </nz-card>
  <ng-template #documentTitleTemplate>
    <div nz-row class="document-title-container">
      <a nz-col nzFlex="initial" (click)="openDocument(document.id)">{{document.title}}</a>
      <div *ngIf="allowActions || document.userId === userService.user?.userId" nz-col nzFlex="auto" class="actions">
        <button class="no-button-style" nz-popover [nzPopoverTitle]="document.title"
          [nzPopoverContent]="documentPopoverTemplate" nzPopoverPlacement="bottomRight" nzPopoverTrigger="click">
          <i fa="ellipsis-v"></i>
        </button>
        <ng-template #documentPopoverTemplate>
          <nz-list class="document-popover-list" nzItemLayout="horizontal">
            <nz-list-item>
              <button nz-button nzType="link" (click)="openDocument(document.id)">
                Editar
              </button>
            </nz-list-item>
            <nz-list-item>
              <button nz-button nzType="link" nz-popconfirm nzPopconfirmTitle="Tem certeza?"
                nzPopconfirmPlacement="right" (nzOnConfirm)="deleteDocument(document.id)">
                <span nz-typography nzType="danger">Deletar</span>
              </button>
            </nz-list-item>
          </nz-list>
        </ng-template>
      </div>
    </div>
  </ng-template>
  <ng-template #documentCoverTemplate>
    <button *ngIf="totalDocumentPages && totalDocumentPages > currentDocumentPage" tabindex="-1" class="no-button-style document-page-arrow left-arrow" (click)="goToNextDocumentPage()" nz-tooltip nzTooltipTitle="Visualizar Próxima Página" [nzMouseEnterDelay]="750">
      <i fa="chevron-right"></i>
    </button>
    <button class="no-button-style" (click)="openDocument(document.id)">
      <img class="document-image" [src]="document.image ? document.image : defaultDocumentCover" [alt]="document.title" />
    </button>
    <button *ngIf="totalDocumentPages && currentDocumentPage > 1" tabindex="-1" class="no-button-style document-page-arrow right-arrow" (click)="goToPreviousDocumentPage()" nz-tooltip nzTooltipTitle="Visualizar Página Anterior" [nzMouseEnterDelay]="750">
      <i fa="chevron-left"></i>
    </button>
  </ng-template>
</ng-container>