:host {
  padding: 0 8px;
  .preference-header {
    display: flex;
    align-items: center;
    place-content: space-between;
    margin-bottom: 0.5em;
    > h1 {
      margin-bottom: 0;
    }
  }
  .preference-container {
    margin-bottom: 12px;
  }
}
