wb-editor-configuration-modal {
  .document-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &.italic {
      font-style: italic;
      color: #808080;
    }
  }
  .document-image-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    .document-image-preview {
      max-width: 100%;
      max-height: 20vh;
      border: 1px solid #808080;
    }
  }
  nz-select.expand-width {
    width: 100% !important;
  }
  .document-access-field {
    margin-bottom: 0;
    .switch-container {
      nz-switch + span {
        margin-left: 8px;
        cursor: pointer;
        user-select: none;
      }
    }
  }
}
