<ng-container *ngIf="hasFinishedDataEntry">
  <ng-container *ngIf="isVertical">
    <nz-slider [(ngModel)]="valueSlider" [nzTooltipVisible]="isOnlySelected || visualizeMode ? 'default' : 'never'" [nzDisabled]="isDisabled || !isOnlySelected || visualizeMode" [nzMin]="minValue" [nzMax]="maxValue" [nzVertical]="true"  nz-popover   [nzPopoverTrigger]="visualizeMode ? 'click' : null"
    nzOverlayClassName="popover-action"
    [nzPopoverContent]="contentTemplate"
    (nzVisibleChange)="getHasLikeOrDislikeForInteractionsPopover($event)" ></nz-slider>
  </ng-container>
  <ng-container *ngIf="!isVertical">
    <nz-slider [(ngModel)]="valueSlider" [nzTooltipVisible]="isOnlySelected || visualizeMode ? 'default' : 'never'" [nzDisabled]="isDisabled || !isOnlySelected || visualizeMode" [nzMin]="minValue" [nzMax]="maxValue"  nz-popover   [nzPopoverTrigger]="visualizeMode ? 'click' : null"
    nzOverlayClassName="popover-action"
    [nzPopoverContent]="contentTemplate"
    (nzVisibleChange)="getHasLikeOrDislikeForInteractionsPopover($event)"></nz-slider>
  </ng-container>

  <ng-template #contentTemplate>
    <ul class="editor-element-actions-list">
      <li>
        <nz-spin [nzSpinning]="isLoadingLikeAndDislike">
          <ng-container *ngIf="!isLoadingLikeAndDislike">
            <!-- No Like / Dislike -->
            <ng-container *ngIf="!doesComponentHasLike && !doesComponentHasDislike" >
              <nz-button-group>
                <button nz-button nzType="primary" (click)="likeComponent()">
                  <i fa="thumbs-up"></i><span>Like</span>
                </button>
                <button nz-button nzType="danger" (click)="dislikeComponent()">
                  <span>Deslike</span><i fa="thumbs-down"></i>
                </button>
              </nz-button-group>
            </ng-container>
            <!-- Has Like -->
            <ng-container *ngIf="doesComponentHasLike && !doesComponentHasDislike" >
              <button nz-button nzType="danger" (click)="removeLikeComponent()">
                <span>Remover Like</span>
              </button>
            </ng-container>
            <!-- Has Dislike -->
            <ng-container *ngIf="doesComponentHasDislike && !doesComponentHasLike" >
              <button nz-button nzType="danger" (click)="removeDislikeComponent()">
                <span>Remover Deslike</span>
              </button>
            </ng-container>
          </ng-container>
        </nz-spin>
      </li>
      <li>
        <button (click)=" editorInteractionService.openCommentPanel(2, elementId, 'Texto 1') " nz-button nzType="default">
          Comentários <i fa="comment"></i>
        </button>
      </li>
    </ul>
  </ng-template>

  <ng-container *ngIf="elementRef">
    <ngx-moveable
    *ngIf="!visualizeMode"
    #moveable
    [target]="target"
    [className]="moveableClasses"
    [snappable]="true"
    [elementGuidelines]="elementGuidelines"

    [origin]="dragOptions.hasOrigin"
    [draggable]="(forceMoveableEnable || (isOnlySelected && hasSelectionEnded)) && dragOptions.draggable"
    [dragTarget]="dragOptions.dragTarget"
    (dragStart)="onDragStart($event)"
    (drag)="onDrag($event)"
    (dragEnd)="onDragEnd($event)"

    [rotatable]="(forceMoveableEnable || (isOnlySelected && hasSelectionEnded)) && rotateOptions.rotatable"
    [rotationPosition]="rotateOptions.rotatePosition"
    (rotateStart)="onRotateStart($event)"
    (rotate)="onRotate($event)"
    (rotateEnd)="onRotateEnd($event)"

    [resizable]="(forceMoveableEnable || (isOnlySelected && hasSelectionEnded)) && resizeOptions.resizable"
    [keepRatio]="resizeOptions.keepRatio"
    (resizeStart)="onResizeStart($event)"
    (resize)="onResize($event)"
    (resizeEnd)="onResizeEnd($event)"
    >
  </ngx-moveable>
  </ng-container>
</ng-container>