<ng-container *ngIf="hasFinishedDataEntry">
  <ng-container *ngIf="isVertical">
    <nz-slider [(ngModel)]="valueSlider" [nzTooltipVisible]="isOnlySelected || visualizeMode ? 'default' : 'never'" [nzDisabled]="isDisabled || !isOnlySelected || visualizeMode" [nzMin]="minValue" [nzMax]="maxValue" [nzVertical]="true" ></nz-slider>
  </ng-container>
  <ng-container *ngIf="!isVertical">
    <nz-slider [(ngModel)]="valueSlider" [nzTooltipVisible]="isOnlySelected || visualizeMode ? 'default' : 'never'" [nzDisabled]="isDisabled || !isOnlySelected || visualizeMode" [nzMin]="minValue" [nzMax]="maxValue"></nz-slider>
  </ng-container>

  <ng-container *ngIf="elementRef">
    <ngx-moveable
    *ngIf="!visualizeMode"
    #moveable
    [target]="target"
    [className]="moveableClasses"

    [origin]="dragOptions.hasOrigin"
    [draggable]="(forceMoveableEnable || (isOnlySelected && hasSelectionEnded)) && dragOptions.draggable"
    [dragTarget]="dragOptions.dragTarget"
    (dragStart)="onDragStart($event)"
    (drag)="onDrag($event)"
    (dragEnd)="onDragEnd($event)"

    [rotatable]="(forceMoveableEnable || (isOnlySelected && hasSelectionEnded)) && rotateOptions.rotatable"
    [rotationPosition]="rotateOptions.rotatePosition"
    (rotateStart)="onRotateStart($event)"
    (rotate)="onRotate($event)"
    (rotateEnd)="onRotateEnd($event)"

    [resizable]="(forceMoveableEnable || (isOnlySelected && hasSelectionEnded)) && resizeOptions.resizable"
    [keepRatio]="resizeOptions.keepRatio"
    (resizeStart)="onResizeStart($event)"
    (resize)="onResize($event)"
    (resizeEnd)="onResizeEnd($event)"
    >
  </ngx-moveable>
  </ng-container>
</ng-container>