:host ::ng-deep {
  display: flex;
  .result-container {
    margin-top: 12px;
    overflow-y: auto;
    .result-item {
      margin: 4px 8px;
    }
  }
}

.app-layout {
  height: 100vh;
  .menu-sidebar {
    position: relative;
    z-index: 10;
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);

    .sidebar-logo {
      display: flex;
      align-items: center;
      position: relative;
      height: 64px;
      padding-left: 24px;
      overflow: hidden;
      line-height: 64px;
      background: #001529;
      transition: all 0.3s;
      .header-trigger {
        color: #ffffff;
        height: 64px;
        padding-right: 16px;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s, padding 0s;
      }
      a {
        display: flex;
        align-items: center;
        img {
          height: 32px;
          width: 32px;
          vertical-align: middle;
        }
        h1 {
          margin: 0 0 0 20px;
          color: #fff;
          font-weight: 600;
          font-size: 14px;
          font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
          vertical-align: middle;
        }
      }
    }
  }
  .content-layout {
    nz-content {
      display: flex;
      flex-direction: column;
      nz-header {
        display: flex;
        align-items: center;
        background-color: unset;
      }
      margin: 0 24px 12px;
      .inner-content {
        padding: 24px;
        background: #fff;
        height: 100%;
        overflow-y: auto;
      }
    }
  }
  .ant-layout-sider-collapsed {
    .sidebar-logo {
      justify-content: center;
      padding: 0;
      .header-trigger {
        padding-right: 0;
      }
    }
  }
}
