<div nz-row nzJustify="space-between" nzAlign="middle">
  <video id="background-video" #video muted loop
    src="https://media.giphy.com/media/9JgjpeyN48rdtzIvOZ/source.mp4"></video>
  <p id="background-video-attribute"><a
      href="https://giphy.com/gifs/jumanjiwelcometothejungle-2017-jumanji-9JgjpeyN48rdtzIvOZ" target="_blank"
      rel="noopener">via GIPHY</a></p>
  <div id="not-found-content" class="p-12" nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="6" nzXl="4">
    <h1>Webook</h1>
    <div id="not-found-message">
      <h1>404</h1>
      <h3>Página não Encontrada</h3>
      <p>Infelizmente, a página que você estava procurando não foi encontrada. Pode estar temporariamente indisponível,
        movida ou não existe mais.</p>
      <a routerLink="/" nz-button nzType="primary">Vamos recomeçar</a>
    </div>
  </div>
</div>