<ng-container *ngIf="hasFinishedDataEntry">
  <span *ngIf="!editing" (dblclick)="toggleEditMode()"
  [style.font-size]="data.textSize ? data.textSize + 'px' : 'unset'"
  [style.color]="data.textColor"
  [style.background-color]="data.backgroundColor"
  [style.font-weight]="data.textWeight"
  [style.justify-content]="getTextHorizontalAlign(data.position)"
  [style.align-items]="getTextVerticalAlign(data.position)"
  >
  <ng-container [ngSwitch]="data.textType || 'text'">
    <span *ngSwitchCase="'text'">{{text}}</span>
    <h1 *ngSwitchCase="'h1'">{{text}}</h1>
    <h2 *ngSwitchCase="'h2'">{{text}}</h2>
    <h3 *ngSwitchCase="'h3'">{{text}}</h3>
    <h4 *ngSwitchCase="'h4'">{{text}}</h4>
    <h5 *ngSwitchCase="'h5'">{{text}}</h5>
    <h6 *ngSwitchCase="'h6'">{{text}}</h6>
  </ng-container>
</span>
  <ng-container *ngIf="editing && !visualizeMode">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input #inputToSave type="text" nz-input placeholder="input search text" (keyup.enter)="saveEdit()"
        (keyup.esc)="toggleEditMode()" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" (click)="saveEdit()"><i fa="save"></i></button>
      <button nz-button nzType="danger" (click)="toggleEditMode()"><i fa="times"></i></button>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="elementRef">
    <ngx-moveable
      *ngIf="!visualizeMode"
      #moveable
      [target]="target"
      [className]="moveableClasses"

      [origin]="dragOptions.hasOrigin"
      [draggable]="(forceMoveableEnable || (isOnlySelected && hasSelectionEnded)) && dragOptions.draggable"
      [dragTarget]="dragOptions.dragTarget"
      (dragStart)="onDragStart($event)"
      (drag)="onDrag($event)"
      (dragEnd)="onDragEnd($event)"

      [rotatable]="(forceMoveableEnable || (isOnlySelected && hasSelectionEnded)) && rotateOptions.rotatable"
      [rotationPosition]="rotateOptions.rotatePosition"
      (rotateStart)="onRotateStart($event)"
      (rotate)="onRotate($event)"
      (rotateEnd)="onRotateEnd($event)"

      [resizable]="(forceMoveableEnable || (isOnlySelected && hasSelectionEnded)) && resizeOptions.resizable"
      [keepRatio]="resizeOptions.keepRatio"
      (resizeStart)="onResizeStart($event)"
      (resize)="onResize($event)"
      (resizeEnd)="onResizeEnd($event)"
      >
    </ngx-moveable>
  </ng-container>
</ng-container>