<ng-container *ngIf="document">
  <ng-template #headerTitle>
    <wb-editor-document-title [documentId]="document.id" [(documentTitle)]="document.title"
      [visualizeMode]="visualizeMode">
    </wb-editor-document-title>
    <span *ngIf="!visualizeMode && showPageSaveStatus" class="page-saved-status"
      [class.waiting]="documentPageService.pageSaveStatus === 'waitingDebounce'">{{pageSaveStatusLabel.get(documentPageService.pageSaveStatus)}}</span>
  </ng-template>
  <ng-template #headerBack>
    <i fa="arrow-left" class="back-button" [class.disabled]="documentPageService.pageSaveStatus !== 'saved'" nz-tooltip
      [nzTooltipTitle]="documentPageService.pageSaveStatus !== 'saved' ? 'Espere enquanto estamos salvando o documento' : ''"
      nzTooltipPlacement="bottomLeft"></i>
  </ng-template>
  <nz-page-header (nzBack)="onBackButtonClick()" [nzTitle]="headerTitle" [nzBackIcon]="headerBack"
    class="site-page-header">
    <nz-page-header-extra class="page-navigation-container">
      <wb-editor-document-page-navigation [(pageIndex)]="pageIndex" [totalCount]="pageTotalCount"
        [visualizeMode]="visualizeMode" [(pageSelectionExpanded)]="pageSelectionExpanded" (addPage)="emitToAddPage()">
      </wb-editor-document-page-navigation>
    </nz-page-header-extra>
    <nz-page-header-extra class="actions-container">
      <ng-container *ngIf="!visualizeMode">
        <button nz-button nzType="link" [disabled]="!editorExternalEvent?.hasUndo" nz-tooltip
          [nzTooltipTitle]="editorExternalEvent?.hasUndo ? 'Desfazer' : undefined" nzTooltipPlacement="bottomRight"
          (click)="editorExternalEvent?.eventSubject?.next('undo')"><i fa="undo-alt"></i></button>
        <button nz-button nzType="link" [disabled]="!editorExternalEvent?.hasRedo" nz-tooltip
          [nzTooltipTitle]="editorExternalEvent?.hasRedo ? 'Refazer' : undefined" nzTooltipPlacement="bottomRight"
          (click)="editorExternalEvent?.eventSubject?.next('redo')"><i fa="redo"></i></button>
        <button (click)="openDocumentConfiguration.next()" nz-button nzType="primary" nzShape="round">
          <span class="expanded">Configurações</span>
          <i fa="cogs" class="collapsed"></i>
        </button>
      </ng-container>
      <ng-container *ngIf="visualizeMode">
        <button nz-button (click)="openDenounceModal.next()" nzType="danger" nzShape="circle" nz-tooltip
          nzTooltipTitle="Denunciar"><i fa="exclamation-triangle"></i></button>
      </ng-container>
    </nz-page-header-extra>
    <nz-page-header-content *ngIf="pageSelectionExpanded">
      <wb-editor-document-page-expanded-navigation [documentId]="document.id" [(pageIndex)]="pageIndex"
        [totalCount]="pageTotalCount" (pageSelected)="pageSelectionExpanded = false" [visualizeMode]="visualizeMode"
        (pageDeleted)="deletePage($event)">
      </wb-editor-document-page-expanded-navigation>
    </nz-page-header-content>
  </nz-page-header>
</ng-container>