<nz-layout>
  <nz-content>
    <section nz-row class="search-container">
      <nz-input-group [nzAddOnAfter]="searchInputSuffix" nzSize="large">
        <input nz-input [(ngModel)]="searchValue" placeholder="Pesquise aqui..." (keyup.enter)="search()" />
      </nz-input-group>
      <ng-template #searchInputSuffix>
        <button nz-button nzType="primary" nzSize="large" nzSearch (click)="search()">
          <i fa="search"></i>
        </button>
        <button nz-button nzType="secondary" nzSize="large" (click)="toggleSearchOrder()" nz-tooltip [nzTooltipTitle]="order !== 'desc' ? 'Ordernação ascendente' : 'Ordernação descendente'">
          <i [fa]="order === 'desc' ? 'sort-alpha-down' : 'sort-alpha-up'"></i>
        </button>
        <button nz-button nzType="secondary" [class.active]="hasCustomFilters" nzSize="large" (click)="filter()" nz-tooltip nzTooltipTitle="Filtros Avançados">
          <i fa="filter"></i>
        </button>
      </ng-template>
    </section>

    <div *ngIf="!isLoadingDocuments" class="documents" nz-row>
      <wb-document-card *ngFor="let document of documents?.items" nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6"
        [document]="document" (openEvent)="openDocument($event)" (deleteEvent)="deleteDocument($event)"></wb-document-card>
      <nz-empty *ngIf="!documents?.items.length" [nzNotFoundContent]="myDocumentsEmptyContent"
        [nzNotFoundFooter]="myDocumentsEmptyFooter">
        <ng-template #myDocumentsEmptyContent>
          <span>Nenhum documento encontrado</span>
          <p *ngIf="!oauthManagerService.isLogged">Por que você não experimenta criar um?</p>
        </ng-template>
        <ng-template #myDocumentsEmptyFooter>
          <button *ngIf="!hasSearchFilterActivated && oauthManagerService.isLogged" nz-button nzType="primary">
            Crie Agora
          </button>
          <button *ngIf="!hasSearchFilterActivated && !oauthManagerService.isLogged"
            (click)="oauthManagerService.login()" nz-button nzType="primary">
            Cadastrar / Logar
          </button>
          <button *ngIf="hasSearchFilterActivated" nz-button nzType="primary" (click)="searchValue = ''">
            Limpar Filtro
          </button>
        </ng-template>
      </nz-empty>
    </div>
    <nz-spin class="documents-loading" nzSize="large" [nzSpinning]="isLoadingDocuments"></nz-spin>
  </nz-content>
</nz-layout>
<nz-pagination nzHideOnSinglePage class="profile-documents-paginator" nzSimple [(nzPageIndex)]="documentsCurrentPage"
  [(nzPageSize)]="documentsPageSize" [nzTotal]="documents?.totalCount || 0">
</nz-pagination>