<div nz-row nzJustify="space-between" nzAlign="middle">
  <div id="forgot-background-container" nz-col nzXs="0" nzSm="0" nzMd="12" nzLg="14" nzXl="16">
    <div id="forgot-background"></div>
  </div>
  <div id="forgot-content" nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="10" nzXl="8">
    <app-logo></app-logo>
    <h2 nz-title>Esqueci minha senha</h2>
    <p *ngIf="!isDuringUpdatePasswordProcess" class="description">Não se preocupe, basta digitar seu email abaixo e te
      enviaremos um <i>link</i> para recuperar sua senha</p>
    <p *ngIf="isDuringUpdatePasswordProcess" class="description">Agora, digite sua nova senha</p>
    <ng-container *ngIf="!isDuringUpdatePasswordProcess && requestResetForm">
      <form nz-form [formGroup]="requestResetForm" (submit)="submitRequestResetForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="O campo Email é obrigatório e deve estar no formato de email!">
            <ng-template #emailPrefixTemplate>
              <i fa="envelope"></i>
            </ng-template>
            <nz-input-group [nzPrefix]="emailPrefixTemplate">
              <input nz-input formControlName="email" type="email" placeholder="Email *" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <div class="forgot-footer">
          <button nz-button type="submit" nzType="primary" [disabled]="requestResetForm.invalid">
            Resgatar senha
          </button>
          <span>ou <button class="link-redirect" nz-button nzType="link" (click)="redirectToSignIn()">Ir para o
              Login</button></span>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="isDuringUpdatePasswordProcess && updatePasswordForm">
      <form nz-form [formGroup]="updatePasswordForm" (submit)="submitUpdateForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="O campo de Senha é obrigatório e deve ter pelo menos 4 caracteres!">
            <nz-input-group [nzPrefix]="passwordPrefixTemplate" [nzSuffix]="passwordSuffixTemplate">
              <input nz-input formControlName="password" [type]="passwordVisible ? 'text' : 'password'"
                placeholder="Senha *" />
            </nz-input-group>
            <ng-template #passwordPrefixTemplate>
              <i fa="lock"></i>
            </ng-template>
            <ng-template #passwordSuffixTemplate>
              <i [fa]="passwordVisible ? 'eye-slash' : 'eye'" class="clickable" nz-tooltip
                [nzTooltipTitle]="(passwordVisible ? 'Esconder' : 'Mostrar') + ' senha'"
                (click)="passwordVisible = !passwordVisible"></i>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <div class="forgot-footer row">
          <button nz-button type="button" nzType="danger" (click)="redirectToSignIn()">
            Cancelar
          </button>
          <button nz-button type="submit" nzType="primary" [disabled]="updatePasswordForm.invalid">
            Atualizar senha
          </button>
        </div>
      </form>
    </ng-container>
  </div>
</div>