<h2 nz-typography>Propriedades</h2>
<ng-container *ngIf="!isLoading">
  <div class="container" [ngSwitch]="currentElementType">
    <wb-text-properties *ngSwitchCase="'wb-text'" [currentElementSelectedData]="currentElementSelectedData" [setDataProperty]="setDataProperty"></wb-text-properties>
    <wb-rectangle-properties *ngSwitchCase="'wb-rectangle'" [currentElementSelectedData]="currentElementSelectedData" [setDataProperty]="setDataProperty"></wb-rectangle-properties>
    <wb-elipse-properties *ngSwitchCase="'wb-elipse'" [currentElementSelectedData]="currentElementSelectedData" [setDataProperty]="setDataProperty"></wb-elipse-properties>
    <wb-slider-properties *ngSwitchCase="'wb-slider'" [currentElementSelectedData]="currentElementSelectedData" [setDataProperty]="setDataProperty"></wb-slider-properties>
    <wb-checkbox-properties *ngSwitchCase="'wb-checkbox'" [currentElementSelectedData]="currentElementSelectedData" [setDataProperty]="setDataProperty"></wb-checkbox-properties>
    <wb-radio-properties *ngSwitchCase="'wb-radio'" [currentElementSelectedData]="currentElementSelectedData" [setDataProperty]="setDataProperty"></wb-radio-properties>
    <wb-image-properties *ngSwitchCase="'wb-image'" [currentElementSelectedData]="currentElementSelectedData" [setDataProperty]="setDataProperty"></wb-image-properties>
    <wb-giphy-properties *ngSwitchCase="'wb-giphy'" [currentElementSelectedData]="currentElementSelectedData" [setDataProperty]="setDataProperty"></wb-giphy-properties>
    <wb-pixabay-properties *ngSwitchCase="'wb-pixabay'" [currentElementSelectedData]="currentElementSelectedData" [setDataProperty]="setDataProperty"></wb-pixabay-properties>
    <wb-carousel-properties *ngSwitchCase="'wb-carousel'" [currentElementSelectedData]="currentElementSelectedData" [setDataProperty]="setDataProperty"></wb-carousel-properties>
    <wb-youtube-properties *ngSwitchCase="'wb-youtube'" [currentElementSelectedData]="currentElementSelectedData" [setDataProperty]="setDataProperty"></wb-youtube-properties>
    <wb-page-properties *ngSwitchDefault></wb-page-properties>
  </div>
</ng-container>
