:host ::ng-deep {
  display: flex;
  flex-direction: column;
  div.arrow-navigation-container {
    display: flex;
    align-items: center;
    &.left {
      place-content: flex-end;
    }
    &.right {
      place-content: flex-start;
    }
  }
  nz-spin.page-container-loader {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div.page-container {
    display: flex;
    place-content: center;
    button.page {
      position: relative;
      cursor: pointer;
      background: none;
      border: 1px solid #000;
      border-radius: 5%;
      height: 10vh;
      width: 10vw;
      img {
        max-width: 100%;
        max-height: 100%;
      }
      button.remove-page {
        position: absolute;
        top: 2%;
        right: 5%;
        text-shadow: 1px 1px 1px #404040;
        opacity: .15;
        transition: opacity .5s;
      }
      &:hover {
        button.remove-page {
          opacity: 1;
        }
      }
    }
  }
  nz-pagination {
    $pagination-margin: 12px;
    margin-top: $pagination-margin;
    text-align: center;
  }
}
