$section-padding: 0 12px;
$section-margin: 12px 0;
$header-size: 48px;
wb-welcome-page {
  height: 100%;
  > nz-layout {
    > nz-header.ant-layout-header {
      position: fixed;
      width: 100%;
      background-color: #fff;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    > nz-content {
      overflow: auto;
      margin-top: $header-size;
      > section {
        margin: $section-margin;
        padding: $section-padding;
      }
      section.presentation {
        display: flex;
        align-items: center;
        place-content: center;
        height: 75vh;
        margin-top: 0;
        position: relative;
        video {
          background-color: #000000;
          min-width: 100%;
          min-height: 100%;
        }
        video,
        .background-shadow {
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 0;
        }
        .background-shadow {
          background: rgba(0, 0, 0, 0.2);
          height: 100%;
          width: 100%;
        }
        .content {
          .title,
          .subtitle {
            cursor: context-menu;
            color: #fff;
            text-shadow: 1px 1px 1px #000000;
          }
          .title {
            margin-bottom: 0;
          }
          .subtitle {
            margin-top: 0;
          }
          .search-input-group {
            $search-input-height: 40px;
            input {
              height: $search-input-height;
              border-right: none;
              outline: none;
            }
            .ant-input-group-addon {
              padding: 0;
              height: $search-input-height;
              background: none;
              border: none;
              border-radius: unset;
              nz-button-group {
                button {
                  outline: none;
                }
                button:first-child {
                  border-left: none;
                  border-radius: unset;
                }
                button:last-child {
                  border-top-left-radius: unset;
                  border-bottom-left-radius: unset;
                  border-top-right-radius: 4px;
                  border-bottom-right-radius: 4px;
                }
              }
            }
          }
        }
      }
      section.what-is-webook {
        padding: 0 15vw 2em;
        > h1 {
          text-align: center;
        }
        .webook-description {
          text-align: justify;
        }
      }
      section.features {
        > h2,
        > h4 {
          text-align: center;
          margin-top: 0;
        }
        > h4 {
          margin-bottom: 2em;
        }
        & > .features-container {
          place-content: center;
          > div {
            text-align: center;
            .feature-icon {
              margin: 12px 0;
              font-size: 500%;
              text-shadow: 1px 1px 1px #000;
            }
          }
        }
      }
      section.form {
        nz-form-item.ant-form-item {
          margin-bottom: 0;
        }
        .actions {
          margin-top: 1em;
          text-align: right;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  wb-welcome-page {
    > nz-layout {
      > nz-content {
        section.presentation {
          height: calc(100vh - #{$header-size});
        }
      }
    }
  }
}

@media (max-width: 700px) {
  wb-welcome-page {
    > nz-layout {
      > nz-content {
        section.presentation {
          height: unset;
          padding: 10vh 5vw 15vh;
          overflow: hidden;
          video {
            width: unset;
            min-width: 100%;
            min-height: 100%;
          }
        }
      }
    }
  }
  nz-header.ant-layout-header {
    padding: 0 12px;
  }
}
