<h3 nz-typography>Escolha uma Página</h3>
<div nz-row class="page-selection-expanded-area">
  <div class="selection-spacer" nz-col nzXs="0" nzSm="1" nzMd="3" nzLg="4" nzXl="4"></div>
  <div nz-col nzXs="4" nzSm="3" nzMd="3" nzLg="2" nzXl="2" class="arrow-navigation-container left">
    <button nz-button nzType="link" [disabled]="pageIndex <= 1" (click)="goToFirstPage()"><i
        fa="arrow-left"></i></button>
    <button nz-button nzType="link" [disabled]="pageIndex <= 1" (click)="goToPreviousPage()"><i
        fa="chevron-left"></i></button>
  </div>
  <div nz-col nzXs="16" nzSm="16" nzMd="12" nzLg="12" nzXl="12">
    <div nz-row>
      <div nz-col nzFlex="1" class="page-container">
        <button class="page">
          <img src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/picture-512.png" alt="Page X">
        </button>
      </div>
      <div nz-col nzFlex="1" class="page-container">
        <button class="page">
          <img src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/picture-512.png" alt="Page X">
        </button>
      </div>
      <div nz-col nzFlex="1" class="page-container">
        <button class="page">
          <img src="https://cdn4.iconfinder.com/data/icons/evil-icons-user-interface/64/picture-512.png" alt="Page X">
        </button>
      </div>
    </div>
  </div>
  <div nz-col nzXs="4" nzSm="3" nzMd="3" nzLg="2" nzXl="2" class="arrow-navigation-container right">
    <button nz-button nzType="link" [disabled]="pageIndex >= totalCount" (click)="goToNextPage()"><i
        fa="chevron-right"></i></button>
    <button nz-button nzType="link" [disabled]="pageIndex >= totalCount" (click)="goToLastPage()"><i
        fa="arrow-right"></i></button>
  </div>
  <div class="selection-spacer" nz-col nzXs="0" nzSm="1" nzMd="3" nzLg="4" nzXl="4"></div>
</div>
<nz-pagination [nzShowQuickJumper]="true" (nzPageIndexChange)="pageIndexChanged($event)" [nzPageIndex]="pageIndex"
  [nzHideOnSinglePage]="true" [nzPageSize]="1" [nzTotal]="totalCount" nzSimple
  [nzItemRender]="paginatorRenderItemTemplate"></nz-pagination>
<ng-template #paginatorRenderItemTemplate let-type let-page="page">
  <ng-container [ngSwitch]="type">
    <a *ngSwitchCase="'page'">{{ page }}</a>
    <a *ngSwitchCase="'prev'"></a>
    <a *ngSwitchCase="'next'"></a>
    <a *ngSwitchCase="'prev_5'"></a>
    <a *ngSwitchCase="'next_5'"></a>
  </ng-container>
</ng-template>