wb-my-documents-page {
  padding: 0 16px;
  overflow-y: auto;
  .create-document-container {
    .ant-layout-header {
      background-color: unset;
      padding: 0 2.5% 0 1.5%;
      div[nz-row] {
        height: inherit;
        div[nz-col] {
          height: inherit;
          &.actions {
            display: flex;
            align-items: center;
            place-content: flex-end;
            button {
              display: flex;
              align-items: center;
              place-content: space-evenly;
              i {
                margin-left: 8px;
              }
            }
          }
        }
      }
    }
    nz-content.models-content {
      $max-model-number-size: 5;
      $min-model-size: 125px;
      $min-model-arrow-size: 50px;

      display: flex;
      align-items: center;
      padding: 0 #{100% / $max-model-number-size / 2} 2vw;
      div.models-arrow {
        min-width: $min-model-arrow-size;
        > button {
          width: 100%;
          &.hide {
            opacity: 0;
            visibility: hidden;
            user-select: none;
            cursor: context-menu;
          }
        }
      }
      > nz-space {
        width: 100%;
        overflow: auto;

        &.expanded {
          $models-expanded-max-height: 25vw;
          display: flex;
          flex-wrap: wrap;
          max-height: $models-expanded-max-height;
          > nz-space-item {
            margin-bottom: 8px;
          }
        }

        > nz-space-item {
          display: flex;
          flex: auto;
          max-width: #{100% / $max-model-number-size};
          min-width: $min-model-size;
          button {
            width: 100%;
            .document-creation-model {
              .model-thumbnail {
                display: flex;
                align-items: center;
                place-content: center;
                height: 15vh;
                font-size: 200%;
                color: #000;
              }
              i.model-thumbnail {
                text-shadow: 2px 2px 2px #808080;
              }
            }
          }
        }
      }
    }
  }
  .my-documents-container {
    max-width: 100%;
    div.my-documents {
      padding: 16px 16px 0;
      wb-document-card {
        padding: 0 8px 8px;
      }
      nz-empty {
        width: 100%;
      }
    }
  }
}
nz-list.document-popover-list {
  nz-list-item {
    nz-card {
      .ant-card-cover {
        button > img {
          max-width: 100%;
        }
      }
      .document-title-container {
        flex-wrap: nowrap;
        a {
          overflow: hidden;
          text-overflow: ellipsis;
        }
        a + div.actions {
          text-align: right;
          i[fa="ellipsis-v"] {
            padding: 0 8px;
          }
        }
      }
    }
    button {
      width: 100%;
      text-align: right;
    }
  }
}
