<ng-template #addDocumentTemplate>
  <button *ngIf="!isAddContainerOpened" (click)="isAddContainerOpened = !isAddContainerOpened" nz-button
    nzType="link"><i fa="plus"></i></button>
  <button *ngIf="isAddContainerOpened" (click)="isAddContainerOpened = !isAddContainerOpened" nz-button nzType="link"><i
      fa="chevron-up"></i></button>
</ng-template>
<nz-layout *ngIf="isAddContainerOpened" class="create-document-container">
  <nz-header>
    <div nz-row>
      <div nz-col nzFlex="initial">
        <h2 nz-typography>Crie seu Documento</h2>
      </div>
      <div nz-col nzFlex="auto" class="actions">
        <ng-container *ngIf="shouldHaveCreateDocumentViewExpanded">
          <button *ngIf="!createDocumentViewExpanded" nz-button nzType="primary" (click)="toggleCreateDocumentView()">
            Mostrar mais
            <i fa="plus"></i>
          </button>
          <button *ngIf="createDocumentViewExpanded" nz-button nzType="primary" (click)="toggleCreateDocumentView()">
            Mostrar menos
            <i fa="chevron-up"></i>
          </button>
        </ng-container>
      </div>
    </div>
  </nz-header>
  <nz-content>
    <nz-space>
      <nz-space-item *ngFor="let model of createDocumentModels">
        <button class="no-button-style" (click)="createDocument(model)">
          <nz-card [nzCover]="coverTemplate" class="document-creation-model">
            <nz-card-meta [nzTitle]="model.title" [nzDescription]="model.description"></nz-card-meta>
          </nz-card>
          <ng-template #coverTemplate>
            <img *ngIf="model.thumbnailPath" class="model-thumbnail" [alt]="model.title" [src]="model.thumbnailPath" />
            <i *ngIf="!model.thumbnailPath && model.thumbnailIcon" class="model-thumbnail"
              [fa]="model.thumbnailIcon"></i>
          </ng-template>
        </button>
      </nz-space-item>
    </nz-space>
  </nz-content>
</nz-layout>
<section class="my-documents-container" nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <h2 nz-typography>Meus Documentos</h2>
  </div>
  <nz-spin nz-col nzSpan="24" nzSize="large" [nzSpinning]="isLoadingMyDocuments">
    <div class="my-documents" nz-row>
      <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" *ngFor="let document of myDocuments">
        <wb-document-card [allowActions]="true" [document]="document" (openEvent)="openDocument($event)"
          (deleteEvent)="deleteDocument($event)"></wb-document-card>
      </div>
      <nz-empty *ngIf="!isLoadingMyDocuments && !myDocuments.length" [nzNotFoundContent]="myDocumentsEmptyContent"
        [nzNotFoundFooter]="myDocumentsEmptyFooter">
        <ng-template #myDocumentsEmptyContent>
          <span *ngIf="!hasSearchFilterActivated">Você ainda não criou um documento</span>
          <span *ngIf="hasSearchFilterActivated">Nenhum documento encontrado</span>
        </ng-template>
        <ng-template #myDocumentsEmptyFooter>
          <button *ngIf="!hasSearchFilterActivated" nz-button nzType="primary" (click)="createDocument()">
            Crie Agora
          </button>
          <button *ngIf="hasSearchFilterActivated" nz-button nzType="primary"
            (click)="navigationService.emitSearch(undefined)">
            Limpar Filtro
          </button>
        </ng-template>
      </nz-empty>
    </div>
  </nz-spin>
</section>